<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
        <header class="masthead mb-auto text-center">
            <div class="inner">
              <h3 class="masthead-brand">Bloccit</h3>
              <nav class="nav nav-masthead justify-content-center">
                  <a class="nav-link" href="/">Home</a>
                  <a class="nav-link" href="/topics">Topics</a>
                  <% if(currentUser) { %>
                      <a class="nav-link" href="/users/<%= currentUser.id %>">Profile</a>
                      <a class="nav-link" href="/users/sign_out">Sign out</a>
                  <% } else { %>
                      <a class="nav-link" href="/users/sign_up">Sign up</a>
                      <a class="nav-link" href="/users/sign_in">Sign in</a>
                  <% }%>
              </nav>
            </div>
          </header>

      <h1>Edit Topic</h1>

<!-- #1 -->
      <form action="/topics/<%= topic.id %>/update" method="post">
        <div class="form-group">
          <label for="title">Topic title</label>
<!-- #2 -->
          <input value="<%= topic.title %>" type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
<!-- #3 -->
          <textarea rows="4" class="form-control" name="description" placeholder="Enter Description"><%= topic.description %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
